# Quetion : 1

In [27]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
s = pd.Series(data)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Quetion : 2

In [28]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = pd.Series(my_list)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Quetion : 3

In [30]:
import pandas as pd

data = {'Name': ['Allce', 'Bob', 'claire'],
        'Age': [25, 30, 37],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Allce   25  Female
1     Bob   30    Male
2  claire   37  Female

# Quetion : 4

 A DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database or a spreadsheet. It can be thought of as a collection of Pandas Series objects, where each Series represents a column of data.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type (integer, string, float, etc.). It can be thought of as a single column of a DataFrame.

# Quetion : 5

Some common functions for manipulating data in a Pandas DataFrame include:

head() and tail(): These functions are used to show the first or last n rows of the DataFrame. For example, df.head(5) would show the first 5 rows of the DataFrame df.

describe(): This function is used to get a summary of the statistics of the DataFrame, such as count, mean, standard deviation, etc. For example, df.describe() would show the summary statistics of the DataFrame df.

# Quetion : 6

In Pandas, both Series and DataFrame are mutable in nature, which means you can modify their values after they are created. However, Panels are not mutable, as they have been deprecated since version 0.25.0 of Pandas and are no longer recommended for use.

# Quetion : 7

You can create a Pandas DataFrame using multiple Series by passing them as a dictionary to the pd.DataFrame() constructor. Each Series will represent a column in the resulting DataFrame. Here's an example:

In [31]:
import pandas as pd

# Create three Pandas Series
name = pd.Series(['John', 'Linda', 'Mike', 'Lisa'])
age = pd.Series([25, 30, 35, 40])
city = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

# Combine the Series into a DataFrame
data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age         City
0   John   25     New York
1  Linda   30  Los Angeles
2   Mike   35      Chicago
3   Lisa   40      Houston

In [25]:
# Quetion : 8

In [26]:
# Quetion : 9

In [ ]:
# Quetion : 10